.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container{
  width: 600px;
  aspect-ratio: 1/1;
  box-shadow: 0 0 10px 1px rgba(40,40,40,0.4);
  padding: 0.6rem;
  border-radius: 10px;
}

.select{
  padding: 0.2rem 0.6rem;
  border-radius: 10px;
  box-shadow: 0 0 15px 1px rgba(40,40,40,0.25);
  background-color: white;
}
.select select{
  border: none;
  outline: none;
  padding: 0.2rem 0.4rem;
  text-align: center;
}
.paymentNode{
  border: 1px solid gray;
  border-radius: 10px;
  padding: 0.2rem 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
}
.paymentNode .icon-close{
  color: red;
}
.pay-initialize{
  border: 1px solid purple;

}
.pay-initialize .head{
  background-color: purple;
  color: white;
  padding: 0.3rem 0.6rem;
  font-size: 0.9rem;
  font-weight: bold;
}
.pay-initialize .section{
  padding: 0.6rem 0.4rem;
}